.git
.gitignore
.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.swp
**/*.swo
**/.DS_Store

ai_forge/
edge_sentinel/
iot_eye/
config/monitoring/
backend_nexus/checkpoint_recognizer-*.zip
backend_nexus/minio_service
logs/
