SERVICE_HOST=127.0.0.1
MINIO_API_DOCKER_PORT=9000

MINIO_ENDPOINT=http://${SERVICE_HOST}:${MINIO_API_DOCKER_PORT}
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SESSION_TOKEN=
MINIO_USE_SSL=false
MINIO_REGION=
MINIO_HEALTH_CHECK=true
MINIO_INSECURE_SKIP_TLS=false

MINIOSERVICE_GRPC_PORT=50001
MINIOSERVICE_GRPC_JWT_SECRET=replace-with-strong-jwt-secret
MINIOSERVICE_GRPC_REFRESH_TOKEN=replace-with-long-static-refresh-token
MINIOSERVICE_GRPC_EXPIRES_TIME_ACCESS_TOKEN=900
MINIOSERVICE_GRPC_EXPIRES_TIME_URL_UPLOAD=600
MINIOSERVICE_GRPC_EXPIRES_TIME_URL_DOWNLOAD=600
